html,body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
  }

  nav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  nav span{
    display: none;
  }
  .sidenav {
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px
  }
  .sidenav a {
    padding: 6px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }


  main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 32px 0 0 32px;
  }
  h2{
    font-size: 33px;
    height: fit-content;
    padding-bottom: 10px;
  }


  
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #111;
    color: #f1f1f1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #444;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:  baseline ;
  }
  .container img{
    flex: none 
  }
  .card{
    text-align: center;
    padding: 20px 20px 0 0;
  }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 640px) {
    nav{
      height: 100%;
    }
    .sidenav{
      position: absolute;
      left: 0;
      width: 100px;
      height: 100%;
      padding: 20px 0 0 10px;
      margin: 0;
      transform: translateX(-100%);
    }
    .sidenav a {
      padding: 6px;
      font-size: 18px;
    }
    .sidenavunhide{
      position: absolute;
      left: 0;
      width: 100px;
      height: 100%;
      padding: 20px 0 0 10px;
      margin: 0;
      /* transform: translateX(-100%); */
    }
    .sidenavunhide a {
      padding: 6px;
      font-size: 18px;
    }

    main {
      margin-left: 0; /* Same as the width of the sidenav */
      padding: 32px 0 0 80px;
      height: 100%;
    }
    nav span {
      position: relative;
      top:30px;
      display: initial;
      color: #818181;
      font-size: 30px;
      padding: 10px;
      z-index: 1;
      border-radius: 4px;
      margin: 18px 0 0 18px;
      /* TODO Hamberger manu js slid out animation */
    }
  }